@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Silkscreen&display=swap');
html{ background-color: rgba(0, 0, 0, 0.952);}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li{
 text-align: center;
 text-decoration: none;
 font-weight: bold;
 padding: 2px;
}
nav a{
    text-decoration: none;
padding: 2px 8px;
font-weight: bold;
}
nav a:hover{
    color: deeppink;
}
div p{
    color: rgba(113, 4, 156, 0.774);
}
#imagendefondo{
background-image: linear-gradient(
    rgba(0,0,0,0.8),
    rgba(0,0,0,0.8)
)
,url(../imagenes/juegos3.jpeg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
box-sizing: border-box;
height: 70vh;
}
header p{
    color: deeppink;
    font-size: 1.5rem;
    margin-left: 70px ;
    text-align: center;
}
.textoVioleta{
    color: rgba(113, 4, 156, 0.774);
    font-family: 'Silkscreen', cursive;
    font-size: 3.7rem;
    align-items: center;
    text-align: center;
}
.textoVioletah{
    color: rgba(113, 4, 156, 0.774);
    font-family: 'Silkscreen', cursive;
    font-size: 2.2rem;
    margin: 20px;
}
.textoBlanco{
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.TextDecoration{
    text-decoration: none;
}
.links{
    color: rgba(113, 4, 156, 0.774);
    text-decoration: none;
}

button{
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 3px;
    border: 2px solid deeppink;
    color:  rgba(113, 4, 156, 0.774);
    background-color:black;
    box-shadow: 10px 10px 15px rgba(113, 4, 156, 0.774);
}
button:hover{
    background-color: deeppink;
}
.logo{
    font-size: 1.8rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    padding: 25px 30px;
    font-weight: bold;
    color: rgba(113, 4, 156, 0.774);
}
.links:hover{
    color: deeppink;
}
h3{
    color: rgba(113, 4, 156, 0.774);
    font-family: 'Silkscreen', cursive;
    font-size: 2.2rem;
    text-align: center;
}
#nuestrosJuegos .containerJuegos{
    background-color: aliceblue;
    background-size: cover;
    justify-content: center;
    display: flex;
    padding: 200px 12px;
    text-align: center;
    border-radius: 15px;
    justify-content: space-around;
}
.todosLosJuegos{
    padding: 30px 30px;
    background-repeat: no-repeat;
}
#nuestrosJuegos h4{
    font-family: 'Open Sans', sans-serif;
    color: deeppink;
    font-size: 1.2rem;
}
#nuestrosJuegos p{
    display: none;
    padding: 10px 20px;

}
.juegosLoL{
    background-image: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    )
    ,url(../imagenes/lol.jpg);
}
.juegosDragonball{
    background-image: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    )
    ,url(../imagenes/dragonballjuego.jpg);
}
.juegosCounter{
    background-image: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    )
    ,url(../imagenes/csgo.jpg);
}
