*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: gray;
}
.galeria{
   background-color: gray; 
   width: 90%;
   margin:0 auto;
   display: flex;
   flex-wrap: wrap;
}
img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.texto{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
