*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedorGrids{
    background-color: rgb(rgba(63, 125, 241, 0.527), green, blue);
    display: inline-grid;
    display: grid;
    display: flex;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr 2fr auto;
    height: 400vh;
}
.header{
grid-column: 1 / 2;
grid-row: 1 / 3;
}
.main{
grid-column: 2 / 3;
grid-row:2 / 3;
}
.section{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
.section img{
    height: 300px;
    width: 600px;
}
.footer{

}
