@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Comic+Neue:ital,wght@1,700&family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Solway&display=swap');


$color: deeppink;
$color2: blueviolet;
$color3: rgb(255, 255, 0);

$letras1:'Silkscreen';
$letras2: 'Comic Neue';
$letras3: 'Solway', serif;
