@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
</style>
 h1 {
    color: blue;}
class{text-decoration: dashed;}
.textoAzul{
    color: blue;
}
nav ul {
color: blueviolet;
}
